<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %> 
    <title>Gallery</title>     

    <style>
        .galleryenc {
            min-width: 100px;
            margin-left: 20px; 
            margin-right:20px; 
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
            grid-gap: 20px;
            padding-bottom: 20px;  
            padding-top: 20px;
            margin-top:60px; 
            justify-content: center;
            margin-bottom: 30px;
        }   

        .galleryenc div {
            width: 100%;
            transform: scale(1.0);
            transition: 0.5s;   
            overflow: hidden;  
            border:10px solid #3390c6;
            border-radius: 10px; 
            padding-top:15px;
            padding-left:15px;
            padding-right:15px;
            padding-bottom:15px;
        }   

        .galleryenc div img, .galleryenc div video {
            width: 100%;
            height: 200px;  
            object-fit: contain;   
        }

        .galleryenc div:hover {
            transform: scale(1.04);
        }
    </style>
</head>  
<body>
    <%- include('../partials/navbar.ejs') %>  
    <br><br><br> 
    <div class="galleryenc">
        <% galls.forEach(gall => { %>
            <% gall.postGallery.forEach(file => { %>
                <div>
                    <% if (file.mimetype.startsWith('image')) { %>
                        <img src="/<%= file.path %>" alt="<%= file.originalname %>">
                        <% console.log('exist') %>
                    <% } else if (file.mimetype.startsWith('video')) { %>
                        <video controls>
                            <source src="/<%= file.path %>" type="<%= file.mimetype %>">
                            Your browser does not support the video tag.
                        </video>
                    <% } %>
                </div>
            <% }) %>
        <% }) %>
    </div>
    <%- include('../partials/footer.ejs') %>  
</body>  
</html>
